.game-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
  justify-items: center;
  /* margin-top: 70px; */
  align-items: center;
  background-color: #b5caae;
}

.game-top-bar {
  display: flex;
  width: 100%;
  height: 10%;
  background-color: #73ab83;
  position: fixed;
  top: 0;
}
.game-bottom-bar {
  display: flex;
  width: 100%;
  height: 10%;
  background-color: #73ab83;
  position: fixed;
  bottom: 0;
}

.game-option-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  /* background-color: #86c8ed; */
  width: 100%;
}

.game-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50%;
  background-color: #90c387;
  width: 100vw;
}

.emotion {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  justify-content: center;
  margin: 2%;
  padding: 2%;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-image: url("../../public/images/emojis.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

/* .game-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.math {
  display: flex;
  width: 50%;
  height: 50%;
  justify-content: center;
  margin: 2%;
  padding: 2%;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-image: url("../../public/images/mathimage.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}
