.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
  justify-items: center;
  margin-top: 80px;
}

.game {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  margin: 2%;
  padding: 2%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-image: url("../../public/images/game1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.game-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatbot {
  display: flex;
  width: 90%;
  justify-content: center;
  margin: 2%;
  padding: 2%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-image: url("../../public/images/chatbot.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}
