.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
  justify-items: center;
  /* margin-top: 70px; */
  align-items: center;
  background-color: #c8eafd;
}

.top-bar {
  display: flex;
  width: 100%;
  height: 10%;
  background-color: #7abcf9;
  position: fixed;
  top: 0;
  align-items: center;
}
.bottom-bar {
  display: flex;
  width: 100%;
  height: 10%;
  background-color: #7abcf9;
  position: fixed;
  bottom: 0;
}

.option-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  /* background-color: #86c8ed; */
  width: 100%;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 50%;
  background-color: #86c8ed;
  width: 100vw;
}

.emotion-game {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  justify-content: center;
  margin: 2%;
  padding: 2%;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-image: url("../../public/images/wheel.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.game-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatbot {
  display: flex;
  width: 50%;
  height: 50%;
  justify-content: center;
  margin: 2%;
  padding: 2%;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-image: url("../../public/images/aipic.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.quiz {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  justify-content: center;
  margin: 2%;
  padding: 2%;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-image: url("../../public/images/quiz.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #fff;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.admin-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 10%;
  background-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  border-style: none;
  margin: 10px;
}
